 .products {
   margin: 2rem auto;
 }

 .products h1 {
   padding-left: 10rem;
 }

 .list {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   gap: 1rem;
 }

 .item img {
   width: 18rem;
   height: 18rem;
   object-fit: contain;
 }

 .item {
   width: 20rem;
   height: 30rem;
   display: grid;
   grid-template-columns: 1.5fr repeat(auto-fill, 50px);
   background-color: #31302e;
   border-radius: 4px;
   overflow: hidden;
   padding: 10px 20px;
   gap: 1rem;
   padding: 1.2rem;
 }

 .item a {
   text-decoration: none;
   color: inherit;

 }

 .item :last-child {
   margin-bottom: 10px;
 }

 .item a:hover {
   transform: scale(1.02);
   background-color: #4b4a47;
 }

 .item h2 {
   margin: 0 0 1rem 0;
 }

 .item p {
   margin-bottom: 0.8rem;
 }

