.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form {
    width: 25rem;
    height: fit-content;
    border: solid 1px #fab833;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #f6ad1b;
    padding: 1rem 2rem;
}

.h1 {
    text-align: center;
}